.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-image.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}

.background-blur::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.square-box{
    min-height: 80px;
}

.mid-div {
    position: relative;
    z-index: 1;
    border: 5px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
}


label{
    color: #000000;
}